<div id="<%= dom_id feedback_book %>">
  <p>
    <strong>User:</strong>
    <%= feedback_book.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= feedback_book.book_id %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feedback_book.feedback %>
  </p>

</div>
