<h1>Editing feedback book</h1>

<%= render "form", feedback_book: @feedback_book %>

<br>

<div>
  <%= link_to "Show this feedback book", @feedback_book %> |
  <%= link_to "Back to feedback books", feedback_books_path %>
</div>
