<p style="color: green"><%= notice %></p>

<h1>Feedback books</h1>

<div id="feedback_books">
  <% @feedback_books.each do |feedback_book| %>
    <%= render feedback_book %>
    <p>
      <%= link_to "Show this feedback book", feedback_book %>
    </p>
  <% end %>
</div>

<%= link_to "New feedback book", new_feedback_book_path %>
