<h1>New Seller Registration</h1>
<p>A new user has registered as a seller. Here are the details:</p>
<ul>
  <li>Name: <%= @seller_details[:name] %></li>
  <li>Phone: <%= @seller_details[:phone_no] %></li>
  <li>Email: <%= @seller_details[:email] %></li>
</ul>
<p>Please verify the details and register the seller if everything is in order.</p>
<p>Thank you!</p>