<h1>New Seller Registration</h1>
<p>A new user has registered as a seller. Here are the details:</p>
<ul>
  <li>Name: <%= @admin_details[:name] %></li>
  <li>Phone: <%= @admin_details[:phone_no] %></li>
  <li>Email: <%= @admin_details[:email] %></li>
</ul>