<div id="<%= dom_id feedback_author %>">
  <p>
    <strong>User:</strong>
    <%= feedback_author.user_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= feedback_author.author_id %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feedback_author.feedback %>
  </p>

</div>
