<h1>Editing feedback author</h1>

<%= render "form", feedback_author: @feedback_author %>

<br>

<div>
  <%= link_to "Show this feedback author", @feedback_author %> |
  <%= link_to "Back to feedback authors", feedback_authors_path %>
</div>
