<%= form_for [commentable, Feedback.new] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 4 , required: true %>
  </div>
  <br>
  <div>
    <%= f.submit "Write feedback" %>
  </div>
<% end %>